<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Explore Home</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>
<th:block th:replace="~{/constants/NavBar}">navbar</th:block>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <!--home page header-->
            <div class="row p-3 text-black d-md-flex homePage-header section-dark"
                 style="background-image: url('/images/cover.jpg')">

                <div class="row p-3 bg-black text-white d-md-flex" style="top:0rem;position:absolute;">
                    <p class="row text-sm mb-0"><i class="fa-brands fa-teamspeak"></i> Initiative for an interrelated
                        society.
                    </p>
                </div>

                <div class="row p-3 bg-black text-white d-md-flex" style="bottom:0rem;position:absolute;">
                    <h3>Choose your requirement. Discover our impact.</h3>
                </div>
            </div>

            <!--all services-->
            <div class="row mb-2 bg-black text-white d-md-flex mb-4">
                <div class="container" style="margin-bottom: 1.5rem">
                    <div class="d-grid gap-2">
                        <button id="service1" th:onclick="service1()" class="btn btn-light" type="button">
                            Blood Donation Campaign
                        </button>
                        <button class="btn btn-light" type="button">Right person for your work</button>
                        <button class="btn btn-light" type="button">Contract carriages and Transportations</button>
                        <button class="btn btn-light" type="button">Jobs and Services</button>
                    </div>
                </div>
            </div>

            <!--carousel-->
            <div class="mb-4">
                <div id="news-slider" class="owl-carousel">
                    <div class="post-slide">
                        <div class="post-img">
                            <img src="/images/card1.jpg" alt="">
                            <a th:href="@{/bloodDonation/}" class="over-layer"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="post-content">
                            <h3 class="post-title">
                                <a>Blood Donation</a>
                            </h3>
                            <p class="post-description"> A drop of blood is a life and can save someone from being
                                dead. Nobody can do everything, but everyone can do one thing - "Blood Donation"</p>
                            <span class="post-date"><i class="fa fa-clock-o"></i>it's time to help someone.</span>
                            <a id="link1" th:href="@{/bloodDonation/}" class="read-more">explore</a>
                        </div>
                    </div>
                    <div class="post-slide">
                        <div class="post-img">
                            <img src="/images/card2.jpg" alt="">
                            <a class="over-layer"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="post-content">
                            <h3 class="post-title">
                                <a>Hire Workers</a>
                            </h3>
                            <p class="post-description">There are citizens who work in our society to
                                ensure the well-being. Community helpers perform their duties to the
                                best to ensure that we have the necessary services.</p>
                            <span class="post-date"><i class="fa fa-clock-o"></i>it's time to help someone.</span>
                            <a class="read-more">explore</a>
                        </div>
                    </div>
                    <div class="post-slide">
                        <div class="post-img">
                            <img src="/images/card3.jpg" alt="">
                            <a class="over-layer"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="post-content">
                            <h3 class="post-title">
                                <a>Get a Ride</a>
                            </h3>
                            <p class="post-description">There are citizens who work in our society to
                                ensure the well-being. Community helpers perform their duties to the
                                best to ensure that we have the necessary services.</p>
                            <span class="post-date"><i class="fa fa-clock-o"></i>it's time to help someone.</span>
                            <a class="read-more">explore</a>
                        </div>
                    </div>
                    <div class="post-slide">
                        <div class="post-img">
                            <img src="https://images.unsplash.com/photo-1564979268369-42032c5ca998?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=300&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=500"
                                 alt="">
                            <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
                        </div>
                        <div class="post-content">
                            <h3 class="post-title">
                                <a>Market Place</a>
                            </h3>
                            <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Aperiam consectetur cumque dolorum, ex incidunt ipsa laudantium necessitatibus neque
                                quae tempora......</p>
                            <span class="post-date"><i class="fa fa-clock-o"></i>Out 27, 2019</span>
                            <a href="#" class="read-more">read more</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--Final div-->
            <div class="row justify-content-md-center text-center" style="margin-top: 80px">
                <div class="text-center col-md-12 col-lg-8">
                    <h3>Thank you for supporting us!</h3>
                </div>
                <div class="text-center col-md-12 col-lg-8">
                    <a href="#Google" class="btn" rel="tooltip" title="Open Google!">
                        <i class="fa-brands fa-google"></i> Google
                    </a>
                    <a href="#Facebook" class="btn" rel="tooltip" title="Open Facebook!">
                        <i class="fa-brands fa-facebook"></i> Facebook
                    </a>
                    <a href="#Linkedin" class="btn" rel="tooltip" title="Open Linkedin!">
                        <i class="fa-brands fa-linkedin-in"></i> Linkedin
                    </a>
                    <a href="Instagram" class="btn" rel="tooltip" title="Open Instagram!">
                        <i class="fa-brands fa-instagram"></i> Instagram
                    </a>
                </div>
            </div>

        </div>
    </div>

</div>
<th:block th:replace="~{/constants/Footer}">footer</th:block>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src='https://code.jquery.com/jquery-1.12.0.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js'></script>
<script src="/js/explore.js"></script>
<script type='text/javascript'></script>
<script>
    $(document).ready(function () {
$("#news-slider").owlCarousel({
items: 3,
itemsDesktop: [1199, 3],
itemsDesktopSmall: [980, 2],
itemsMobile: [600, 1],
navigation: true,
navigationText: ["", ""],
pagination: true,
autoPlay: true });
});
</script>

</body>
</html>